.filters {
  position: fixed;
  right: 100px;
  left: 100px;
  top: 95px;
  padding: 2px 0;
  
  &__input {
    padding: 0 !important;
    max-width: 150px !important;
    float: right;
    margin-left: 25px;
    
    .v-icon {
      font-size: 1em !important;
    }
  }
  
  &__checkbox {
    margin-top: 6px !important;
    display: block;
  }
}

.hero-list {
  max-width: none;
  padding: 0 100px;
  position: fixed;
  bottom: 110px;
  top: 100px;
  overflow: hidden;
  background: white;
  transition: top 0.2s;
  
  &--filters-active {
    top: 140px;
  }
  
  &--card-display {
    overflow-y: scroll;
  }
}

.no-data-text {
  color: black;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  text-align: center;
  right: 0;
  left: 0;
}

.attribution {
  position: fixed;
  bottom: 3px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.sidebar {
  position: fixed;
  left: 30px;
  top: 100px;
  width: 50px;
  z-index: 1;
  padding: 5px;
  
  &__btn {
    margin-bottom: 15px !important;
  }
  
  &__btn--active {
    background-color: #CACACA !important;
    border: 1px solid #BDBDBD !important;
  }
}

